html {
  font-family: "Helvetica", sans-serif;
  margin: auto;
  text-align: justify;
  font-size: 3vh;
  color: black;
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

a {
  color: black;
  text-decoration: none;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
html {
  max-width: 95%;
  min-width: 95%;
   }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
html {
   min-width: 80%;
   max-width: 80%;
 }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
html {
   min-width: 800px;
   max-width: 800px;
 }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
html {
   min-width: 1000px;
   max-width: 1000px;
 }
}
