## Historique d'emploi

{{#web}}

### {{& poste}}
  - type d'emploi:{{& posteGenerique}}
  - Courte description: {{& descriptionCourte}}
  - Employeur: {{& organisation}}
  - Ville: {{& encours}}
  - Période: {{& periode}}

{{/web}}


{{#chimie}}

### {{poste}}
{{#equipe.length}}  - equipe: {{equipe}} {{/equipe.length}}
  - periode: {{periode}}
  - Employeur: {{organisation}}
  - Ville: {{ville}}

{{/chimie}}

{{#afficheJobines}}

### Autres emplois
{{#jobines}}
  - poste: {{poste}}
  - periode: {{periode}}
  - organisation: {{ville}}
  - equipe: {{equipe}}

{{/jobines}}
{{/afficheJobines}}
