
## Diplômes
{{#diplomes}}
### {{& programme}}
{{#specialite.length}}  - Spécialité: {{& specialite}} {{/specialite.length}}
{{#titreMemoire.length}}  - Spécialité: {{& titreMemoire}} {{/titreMemoire.length}}
  - organisation: {{& organisation}}
  - Année de diplomation: {{& anneFin}}


{{/diplomes}}
