# Travail

## Expériences en chimie
{{#chimie}}
### {{poste}}
  - periode: {{periode}}
  - organisation: {{organisation}}
  - ville: {{ville}}
{{#equipe.length}}  - equipe: {{equipe}} {{/equipe.length}}

{{/chimie}}

## Expériences variées
{{#jobines}}
  - poste: {{poste}}
  - periode: {{periode}}
  - organisation: {{ville}}
  - equipe: {{equipe}}

{{/jobines}}
